.idea/
.ipynb_checkpoints/
Detectedface/
dataset.db
for_tests.py
gipo_test.py
log.txt
raw/
test_features.npy
train_features.npy
anti_spoofing_system_test.ipynb
__pycache__
data_tf.npy
dataset/
dataset.json
